@model ContactsModel
@{
    ViewData["Title"] = "Editing Contacts";
}

<div class="text-center">

    <h1 class="display-4">Adding Contacts</h1>
</div>

<form asp-controller="Contacts" asp-action="Change" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="E-mail">
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" asp-for="Phone" class="form-control" placeholder="Phone">
    </div>

    <div class="form-group">
        <label for="postalcode">Postal code</label>
        <input type="text" asp-for="Postalcode" class="form-control" placeholder="Postalcode">
    </div>

    <div class="form-group">
        <label for="adress">Adress</label>
        <input type="text" asp-for="Adress" class="form-control" placeholder="Adress">
    </div>

    <button type="submit" class="btn btn-primary col-12">Change</button>
    <a  class="btn btn-secondary col-12" asp-controller="Contacts" asp-action="Index" role="button">Back</a>
</form>
