<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contact's Control</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ContactControl.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @await Component.InvokeAsync("Menu");
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Contact's Control

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#postalcode').mask('00000-000');  //brazilian postal code
            // Add blur() to CEP
            $('#postalcode').blur(function () {
                // Take the value of the field "cep"
                var cep = $(this).val().replace(/\D/g, '');

                // Check if cep is not empty
                if (cep != '') {
                    // Calls the ViaCEP's API
                    $.getJSON('https://viacep.com.br/ws/' + cep + '/json/?callback=?', function (data) {
                        // if the return of the API is "error", shows a message
                        if (data.erro) {
                            alert('Postal code not found.');
                        } else {
                            // if there is no error, it will fulfill the field state, city, neighborhood and address
                            $('#state').val(data.uf);
                            $('#city').val(data.localidade);
                            $('#neighborhood').val(data.bairro);
                            $('#address').val(data.logradouro);
                        }
                    });
                }
            });
            $('#phone').mask('(00) 00000-0000'); //brazilian phone number
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
